.device {
	position: relative;

	&__item {
		$item: compose(&);
		position: relative;
		overflow: hidden;

		&_laptop {
			composes: $item;
			width: 100%;

			@include breakpoint(s) {
				width: 97%;
				margin-left: auto;
			}
		}

		&_phone {
			composes: $item;
			position: absolute;
			top: 20%;
			z-index: 1;
			display: none;
			width: 17%;

			@include breakpoint(s) {
				display: block;
			}
		}

		&_tablet {
			composes: $item;
			right: 7%;
			z-index: 2;
			display: none;
			width: 30%;
			margin-top: -30%;
			margin-left: auto;

			@include breakpoint(l) {
				display: block;
			}
		}
	}

	&__mockup {
		$mockup: compose(&);
		width: 100%;
		fill: darkgray;

		&_laptop {
			composes: $mockup;
		}

		&_phone {
			composes: $mockup;
		}

		&_tablet {
			composes: $mockup;
		}
	}

	&__picture {
		$picture: compose(&);
		composes: picture from "../picture/styles.module.scss";
		position: absolute;
		top: var(--picture_gap_top);
		left: var(--picture_gap_left);
		max-width: calc(100% - (var(--picture_gap_left) * 2));
		max-height: calc(
			100% - (var(--picture_gap_top) + var(--picture_gap_bottom))
		);
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}

		&_laptop {
			--picture_gap_left: #{t2c(24, 190)};
			--picture_gap_top: #{t2c(6, 100)};
			--picture_gap_bottom: #{t2c(14, 100)};
			composes: $picture;
		}

		&_phone {
			--picture_gap_left: #{t2c(2, 31)};
			--picture_gap_top: #{t2c(3, 56)};
			--picture_gap_bottom: #{t2c(5, 56)};
			composes: $picture;
		}

		&_tablet {
			--picture_gap_left: #{t2c(4, 59)};
			--picture_gap_top: #{t2c(6, 81)};
			--picture_gap_bottom: #{t2c(7, 81)};
			composes: $picture;
		}
	}
}
