import React from "react"
import st from "./styles.module.scss"

const {{ pascalCase name }} = () => (
	<div className={st.{{ lowerCase name }} }>
		<p>{{ pascalCase name }} component</p>
	</div>
)

export default {{ pascalCase name }}
