.faq {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: rem(8);

	@include breakpoint(m) {
		flex-direction: row;
	}

	@include breakpoint(xl) {
		padding: t2c(8, xl);
	}

	&__question {
		font-weight: 700;
	}

	&__answer {
		max-width: 80ch;
		margin-block-end: rem(24);

		@include breakpoint(m) {
			margin-block-end: 0;
			padding-inline-end: rem(64);
		}

		@include breakpoint(xl) {
			padding-inline-end: t2c(64, xl);
		}
	}

	&__link {
		flex-shrink: 0;
		align-self: flex-end;
	}
}
