.button {
	$root: compose(&);
	$font_size: 13;
	--padding_block: #{locks(8, 16)};
	--padding_inline: #{locks(16, 24)};

	display: inline-flex;
	align-items: center;
	padding-block: var(--padding_block);
	padding-inline: var(--padding_inline);
	border-radius: rem(var(--border_radius));
	font-family: $font_quicksand;
	font-size: rem($font_size);
	font-weight: 700;
	line-height: 1.5;
	cursor: pointer;
	appearance: none;

	@include breakpoint(xl) {
		--padding_block: #{t2c(16, xl)};
		--padding_inline: #{t2c(24, xl)};

		border-radius: t2c(var(--border_radius), xl);
		font-size: t2c(13, xl);
	}

	&__icon {
		width: 0.9em;
		margin-inline-start: em(4, $font_size);
		padding: em(2, $font_size);
		fill: currentColor;
	}

	&_primary {
		composes: $root;
		background-color: $blue_cornflower--l_30;
		color: $blue_cobalt--l_10;

		@include hover() {
			background-color: $blue_cornflower--l_20;
			color: $blue_cobalt;
		}

		@include active();
	}

	&_secondary {
		composes: $root;
		background-color: $blue_cobalt--l_20;
		color: $white;

		@include hover() {
			background-color: $blue_cobalt--l_10;
		}

		@include active();
	}

	&_plain {
		composes: $root;
		box-shadow: inset 0 0 0 em(1, $font_size) currentColor;
		color: $blue_cobalt--l_20;

		@include hover() {
			color: $blue_cobalt--l_10;
		}

		@include active();

		&-invert {
			composes: $root;
			box-shadow: inset 0 0 0 em(1, $font_size) currentColor;
			color: $blue_cornflower--l_30;

			@include hover() {
				color: $blue_cornflower--l_20;
			}
		}
	}

	&_dim {
		composes: $root;
		background-color: $gray_french--l_10;
		color: $gray_french--d_40;

		@include hover() {
			background-color: $gray_french;
			color: $gray_french--d_50;
		}

		@include active();
	}

	&_bright {
		composes: $root;
		background-color: $white;
		color: $blue_cobalt--d_10;

		@include hover() {
			background-color: $gray_french--l_20;
			color: $blue_cobalt--d_20;
		}

		@include active();
	}
}
