@import "utils/helpers";

.button {
  --button_background_color: var(--blue_cornflower--l_20);
  --button_color: var(--blue_cobalt);
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: var(--border_radius);
  background-color: var(--button_background_color);
  color: var(--button_color);
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  @include hover() {
    --button_background_color: var(--blue_cornflower--l_10);
    --button_color: var(--blue_cobalt--d_20);
  }
}
