.text {
	--text_line_height: 1.8;
	color: $gray_french--d_20;
	letter-spacing: 0.05em;
	font-size: locks(13, 15);
	line-height: var(--text_line_height);

	@include breakpoint(xl) {
		font-size: t2c(15, map-get($sizes, xl), vw);
	}
}
