@use "data";

.hero {
	$hero_height: 560;

	position: relative;
	height: t2c($hero_height, xl);
	min-height: ($hero_height / 2) * 1px;
	max-height: t2c($hero_height, xl);
	overflow: hidden;

	@at-root %item {
		position: relative;
		z-index: 2;
		filter: drop-shadow(0 0 0.2em white);
	}

	&__heading {
		@extend %item;

		padding-block-start: t2c(72, xl);
	}

	&__caption {
		@extend %item;

		max-width: 55ch;
		margin-inline: auto;
		padding-block-start: locks(12, 48);
		text-align: center;

		@include breakpoint(xl) {
			padding-block-start: t2c(48, xl);
			font-size: t2c(16, xl);
		}
	}

	&__chart {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		z-index: 0;
		width: 100%;
		background-color: rgb($blue_cornflower--l_20, 0.2);
		opacity: 0.5;

		@include breakpoint(m) {
			opacity: 1;
		}
	}

	&__cloud {
		@include cloud(data.$clouds, $hero_height);
	}
}
