@use 'config' as *;

:root {
	--border_radius: #{rem($border_radius)};
	--transition_duration: 0.4s;
	--transition_easeing: ease-in-out;

	@include breakpoint(xl) {
		--border_radius: #{t2c($border_radius, xl)};
	}
}

*:focus {
	outline: none !important;
	box-shadow:
		0 0 0 rem(2) $blue_cobalt--l_20,
		0 0 0 rem(6) rgb($blue_cornflower--l_30, 0.7) !important;
}

BODY {
	background-color: $white;
	font-family: $font_roboto;
}

::selection {
	background-color: $blue_cornflower--l_30;
}
