@import "utils/helpers";

@include font-face(Quicksand, quicksand-v9-latin-regular);
@include font-face(Quicksand, quicksand-v9-latin-500, 500);
@include font-face(Quicksand, quicksand-v9-latin-700, 700);
@include font-face(Roboto, roboto-v19-latin-regular);
@include font-face(Roboto, roboto-v19-latin-500, 500);

$blue_cobalt: hsl(229, 45%, 43%);
$blue_cornflower: adjust-color(
  $blue_cobalt,
  $hue: -2,
  $saturation: 55%,
  $lightness: 27%
);
$blue_gray: adjust-color($blue_cobalt, $saturation: -18%, $lightness: 22%);
$blue_haze: adjust-color(
  $blue_cobalt,
  $hue: 11,
  $saturation: -19%,
  $lightness: 43%
);
$blue_periwinkle: adjust-color(
  $blue_cobalt,
  $hue: -9,
  $saturation: 55%,
  $lightness: 48%
);

:root {
  --blue_cobalt: #{$blue_cobalt};
  --blue_cornflower: #{$blue_cornflower};
  --blue_gray: #{$blue_gray};
  --blue_haze: #{$blue_haze};
  --blue_periwinkle: #{$blue_periwinkle};
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
