$blue_cobalt: hsl(229, 68%, 34%);
$blue_cobalt--d_20: darken($blue_cobalt, 20);
$blue_cobalt--l_10: lighten($blue_cobalt, 10);

$blue_cornflower: adjust-color(
  $blue_cobalt,
  $hue: -2,
  $saturation: 55%,
  $lightness: 27%
);
$blue_cornflower--l_20: lighten($blue_cornflower, 20);
$blue_cornflower--l_10: lighten($blue_cornflower, 10);

$gray_french: adjust-color(
  $blue_cobalt,
  $hue: -3,
  $saturation: -55%,
  $lightness: 41%
);
$gray_french--d_20: darken($gray_french, 20);

$white: hsl(0, 0%, 100%);
