@use 'sass:color' as *;

$base_font: 16;
$border_radius: 4;

$sizes: (
	'xs': 320,
	's': 640,
	'm': 960,
	'l': 1280,
	'xl': 1440,
);

// blue_cobalt
$blue_cobalt: hsl(229, 68%, 34%);
$blue_cobalt--d_10: adjust($blue_cobalt, $lightness: -10%);
$blue_cobalt--d_20: adjust($blue_cobalt, $lightness: -20%);
$blue_cobalt--l_10: adjust($blue_cobalt, $lightness: 10%);
$blue_cobalt--l_20: adjust($blue_cobalt, $lightness: 20%);

// blue_cornflower
$blue_cornflower: adjust(
	$blue_cobalt,
	$hue: -2,
	$saturation: 55%,
	$lightness: 27%
);
$blue_cornflower--l_10: adjust($blue_cornflower, $lightness: 10%);
$blue_cornflower--l_20: adjust($blue_cornflower, $lightness: 20%);
$blue_cornflower--l_30: adjust($blue_cornflower, $lightness: 30%);

// gray_french
$gray_french: adjust(
	$blue_cobalt,
	$hue: -3,
	$saturation: -55%,
	$lightness: 41%
);
$gray_french--d_10: adjust($gray_french, $lightness: -10%);
$gray_french--d_20: adjust($gray_french, $lightness: -20%);
$gray_french--d_40: adjust($gray_french, $lightness: -40%);
$gray_french--d_50: adjust($gray_french, $lightness: -50%);
$gray_french--l_10: adjust($gray_french, $lightness: 10%);
$gray_french--l_20: adjust($gray_french, $lightness: 20%);

// others
$white: #fff;
$crystal: rgb(255, 255, 255, 0);

// fonts
$font_quicksand: ('Quicksand', sans-serif);
$font_roboto: ('Roboto', sans-serif);
