.social {
	$root: &;

	display: flex;

	&__item {
		display: block;
		margin: rem(8);
	}

	&__link {
		display: block;
		line-height: 0;

		@include hover(#{$root}__icon) {
			--icon_fill_color: #{$blue_cornflower};
		}
	}

	&__icon {
		--icon_fill_color: #{$gray_french};

		width: rem(16);
		box-sizing: content-box;
		padding: rem(8);
		fill: var(--icon_fill_color);
	}

	@include breakpoint(xl) {
		&__item {
			margin: t2c(8, xl);
		}

		&__icon {
			width: t2c(16, xl);
			padding: t2c(8, xl);
		}
	}
}
