@import "utils/helpers";

.social {
  display: flex;

  &__item {
    display: block;
    margin: 0.5em;
  }

  &__icon {
    --icon_fill_color: var(--gray_french);
    width: 1em;
    box-sizing: content-box;
    padding: 0.5em;
    fill: var(--icon_fill_color);

    @include hover {
      --icon_fill_color: var(--blue_cornflower);
    }
  }
}
