.about {
	padding-top: locks(72, 168);
	padding-bottom: locks(72, 168);

	@include breakpoint(xl) {
		// height: t2c(800, map-get($sizes, xl), vw);
		padding-top: t2c(168, map-get($sizes, xl), vw);
		padding-bottom: t2c(168, map-get($sizes, xl), vw);
	}

	&__wrapper {
		// keep
	}
}
