@import "utils/helpers";

.heading {
  $root: &;
  color: var(--blue_cobalt--l_10);
  text-align: center;

  &--left {
    composes: str-slice(#{$root}, 2);
    text-align: left;
  }
}

.title {
  $title: &;
  --title_font_size: 24;
  font-family: "Quicksand", sans-serif;
  font-size: calc(var(--title_font_size) * 1px);
  font-weight: 300;
  line-height: 1.15;

  @include breakpoint(s) {
    --title_font_size: 40;
  }

  &--big {
    composes: str-slice(#{$title}, 2);
    font-size: calc((var(--title_font_size) * 1px) + 8px);
  }
}

.strong {
  font-weight: 500;
}

.subtitle {
  --subtitle_font_size: 10;
  margin-bottom: em(8, var(--subtitle_font_size));
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: calc(var(--subtitle_font_size) * 1px);
  font-weight: 500;
  line-height: 1.5;

  @include breakpoint(s) {
    --subtitle_font_size: 12;
  }
}
