@import "utils/helpers";

.heading {
  $root: &;
  color: var(--blue_cobalt--l_10);
  text-align: center;

  &--left {
    composes: str-slice(#{$root}, 2);
    text-align: left;
  }
}

.title {
  $title: &;
  font-family: "Quicksand", sans-serif;
  font-size: locks(24, 40);
  font-weight: 300;
  line-height: 1.15;

  &--big {
    composes: str-slice(#{$title}, 2);
    font-size: locks(32, 48);
  }
}

.accent {
  font-weight: 500;
}

.subtitle {
  $subtitle_font_min: 10;
  margin-bottom: em(8, $subtitle_font_min);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: locks($subtitle_font_min, 13);
  font-weight: 500;
  line-height: 1.5;
}
