@use "styles/functions" as *;
@use "styles/mixins" as *;
@use "styles/vars" as *;

.customers {
	$root: &;

	display: flex;
	align-items: center;
	height: locks(120, 144);

	@include breakpoint(xl) {
		height: t2c(144, xl);
	}

	@include divider();

	&__wrapper {
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			inset-block-start: 0;
			z-index: 1;
			min-width: 1em;
			min-height: 100%;
		}

		&::before {
			inset-inline-start: 0;
			background-image: linear-gradient(to left, #{$crystal}, #{$white});
		}

		&::after {
			inset-inline-end: 0;
			background-image: linear-gradient(to right, #{$crystal}, #{$white});
		}

		@include breakpoint(m) {
			&::before,
			&::after {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding: rem(16);

		@include breakpoint(m) {
			justify-content: center;
		}

		@include breakpoint(xl) {
			padding: t2c(16, xl);
		}
	}

	&__item {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		margin-inline-end: locks(40, 80);

		@include breakpoint(xl) {
			margin-inline-end: t2c(80, xl);
		}

		&:last-child {
			margin-inline-end: 0;
		}
	}

	&__link {
		display: block;
		padding: rem(4);

		@include breakpoint(xl) {
			padding: t2c(4, xl);
		}

		@include hover(#{$root}__logo) {
			--logo_fill_color: #{$blue_cornflower};
		}
	}

	&__logo {
		--logo_fill_color: #{$gray_french};

		width: locks(100, 120);
		max-height: rem(40);
		fill: var(--logo_fill_color);

		@include breakpoint(xl) {
			width: t2c(120, xl);
			max-height: t2c(40, xl);
		}
	}
}
