@import "utils/helpers";

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  height: 5.5556vw;

  @include divider;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
