.header {
  $root: &;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

  @include divider;

  &__content {
    display: grid;
    grid-template-areas:
      "logo button"
      "social social";
    gap: 1em;

    @include breakpoint(s) {
      display: flex;
    }
  }

  &__item {
    $wrapper: str-slice(#{&}, 2);
    display: flex;
    align-items: center;

    &--logo {
      composes: $wrapper;
      grid-area: logo;
      justify-content: flex-start;
    }

    &--social {
      composes: $wrapper;
      grid-area: social;
      justify-content: flex-end;

      @include breakpoint(s) {
        flex-grow: 1;
        padding-right: 2em;
      }
    }

    &--button {
      composes: $wrapper;
      grid-area: button;
      justify-content: flex-end;
    }
  }
}
