.header {
	padding-block-start: rem(16);
	padding-block-end: rem(16);

	@include breakpoint(xl) {
		padding-block-start: t2c(16, xl);
		padding-block-end: t2c(16, xl);
	}

	@include divider($top: false);

	&__content {
		display: grid;
		grid-template-areas:
			"logo button"
			"social social";
		gap: 1em;

		@include breakpoint(s) {
			display: flex;
		}
	}

	&__item {
		$wrapper: compose(&);

		display: flex;
		align-items: center;

		&_logo {
			composes: $wrapper;
			grid-area: logo;
			justify-content: flex-start;
		}

		&_social {
			composes: $wrapper;
			grid-area: social;
			justify-content: flex-end;

			@include breakpoint(s) {
				flex-grow: 1;
				padding-inline-end: 2em;
			}
		}

		&_button {
			composes: $wrapper;
			grid-area: button;
			justify-content: flex-end;
		}
	}
}
