.features {
	@include breakpoint(s) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(32);
	}

	@include breakpoint(m) {
		grid-template-columns: repeat(4, 1fr);
		gap: t2c(32, map-get($sizes, l), vw);
	}

	&__item {
		display: flex;
		margin-block-end: rem(32);

		@include breakpoint(s) {
			margin-block-end: 0;
		}

		@include breakpoint(m) {
			flex-direction: column;
			padding-right: t2c(50, map-get($sizes, xl), vw);
			padding-left: t2c(50, map-get($sizes, xl), vw);
			text-align: center;
		}
	}

	&__content {
		padding-left: rem(24);

		@include breakpoint(m) {
			padding-left: 0;
		}
	}

	&__icon {
		width: rem(72);
		height: rem(72);
		overflow: visible;
		padding: rem(20);
		border-radius: 50%;
		background-color: rgba($blue_cornflower--l_20, 0.1);
		color: $blue_cornflower;

		@include breakpoint(m) {
			margin-block-end: t2c(32, map-get($sizes, xl), vw);
			margin-inline-end: auto;
			margin-inline-start: auto;
		}

		@include breakpoint(xl) {
			width: t2c(72, map-get($sizes, xl), vw);
			height: t2c(72, map-get($sizes, xl), vw);
			padding: t2c(20, map-get($sizes, xl), vw);
		}
	}

	&__title {
		margin-block-end: locks(16, 24);
		color: $blue_cornflower;
		font-size: rem(14);
		line-height: 1.7;

		@include breakpoint(xl) {
			font-size: t2c(14, map-get($sizes, xl), vw);
		}
	}

	&__text {
		$text_height: calc((var(--text_line_height) * 1em) * 4);
		composes: text from "../text/styles.module.scss";
		position: relative;
		min-width: 100%;
		max-height: $text_height;
		height: $text_height;
		overflow: hidden;
	}
}
