.testimonials {
	padding-block-start: t2c(104, xl);
	padding-block-end: t2c(104, xl);

	&__wrapper {
		display: grid;
		grid-template-areas: "text" "carousel";
		gap: t2c(72, xl);

		@include breakpoint(s) {
			grid-template-areas: "text carousel";
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(m) {
			grid-template-areas: "text carousel carousel";
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__text {
		grid-area: text;
	}

	&__carousel {
		grid-area: carousel;
	}

	&__header {
		margin-block-end: rem(16);

		@include breakpoint(m) {
			margin-block-end: t2c(16, xl);
		}
	}
}
