.testimonials {
	padding-block-start: t2c(104, xl);
	padding-block-end: t2c(104, xl);
	background:
		linear-gradient(
			180deg,
			rgb($blue_cornflower--l_20, 0.2) 0%,
			rgb($blue_cornflower--l_20, 0.1) 100%
		);

	&__wrapper {
		--gap: #{t2c(72, xl)};

		display: block;
		overflow: hidden;

		@include breakpoint(s) {
			display: grid;
			grid-template-areas: "text carousel carousel";
			grid-template-columns: repeat(3, 1fr);
			gap: var(--gap);
		}
	}

	&__text {
		grid-area: text;
		margin-block-end: var(--gap);

		@include breakpoint(s) {
			margin-block-end: 0;
		}
	}

	&__carousel-wrapper {
		grid-area: carousel;
	}

	&__header {
		margin-block-end: rem(16);

		@include breakpoint(m) {
			margin-block-end: t2c(16, xl);
		}
	}
}
