.testimonials {
	padding-block: t2c(104, xl);
	background:
		linear-gradient(
			180deg,
			rgb($blue_cornflower--l_20, 0.2) 0%,
			rgb($blue_cornflower--l_20, 0.1) 100%
		);

	&__wrapper {
		--gap: #{t2c(72, xl)};

		display: block;
		overflow: hidden;

		@include breakpoint(s) {
			display: flex;
		}
	}

	&__text {
		width: 100%;
		min-width: t2c(384, xl);
		margin-block-end: var(--gap);

		@include breakpoint(s) {
			margin-block-end: 0;
		}
	}

	&__carousel-wrapper {
		@include breakpoint(s) {
			width: 100%;
			min-width: t2c(840, xl);
			margin-inline-start: t2c(72, xl);
		}
	}

	&__header {
		margin-block-end: rem(16);

		@include breakpoint(m) {
			margin-block-end: t2c(16, xl);
		}
	}
}
