@use "styles/functions" as *;
@use "styles/mixins" as *;
@use "styles/vars" as *;

.blog {
	padding-block-start: locks(72, 104);
	padding-block-end: locks(72, 104);
	background-color: rgba($blue_cornflower--l_20, 0.1);

	@include breakpoint(xl) {
		padding-block-start: t2c(104, xl);
		padding-block-end: t2c(104, xl);
	}

	&__carousel-wrapper {
		margin-inline: auto;

		@include breakpoint(m) {
			width: t2c(1152, xl);
		}
	}

	&__carousel {
		padding-block: t2c(64, xl);
		padding-inline: t2c(32, xl);
	}
}
