.software {
	padding-block-start: locks(72, 168);
	padding-block-end: locks(72, 168);
	background-color: rgb($blue_cornflower--l_20, 0.1);

	@include breakpoint(xl) {
		height: t2c(776, xl);
		padding-block-start: t2c(168, xl);
		padding-block-end: t2c(168, xl);
	}

	&__wrapper {
		display: grid;
		grid-template-areas:
			'text'
			'showcase';
		grid-template-columns: 1fr;
		gap: rem(40);

		@include breakpoint(m) {
			grid-template-areas: 'text showcase showcase';
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__text {
		grid-area: text;
	}

	&__showcase {
		grid-area: showcase;
	}

	&__caption,
	&__button {
		padding-block-start: locks(24, 32);
	}
}
