.accordion {
	&__item {
		padding-inline: rem(24);
		border-bottom: 1px solid $gray_french--l_10;
		color: $gray_french--d_30;

		&:focus-within {
			box-shadow: inset rem(4) 0 0 0 $blue_cornflower--l_10;

			@include breakpoint(xl) {
				box-shadow: inset t2c(4, xl) 0 0 0 $blue_cornflower--l_10;
			}
		}

		&[data-accordion-open='true'] {
			color: $gray_french--d_40;
		}

		@include breakpoint(xl) {
			padding-inline: t2c(24, xl);
			border-bottom-width: t2c(1, xl);
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-block: rem(24);
		color: inherit;
		text-align: left;
		font-size: rem(18);
		line-height: 1.5;
		cursor: pointer;

		&:focus {
			box-shadow: none !important;
		}

		@include breakpoint(xl) {
			padding-block: t2c(24, xl);
			font-size: t2c(18, xl);
		}
	}

	&__icon {
		flex-shrink: 0;
		align-self: flex-start;
		width: rem(24);
		margin-inline-start: rem(16);
		pointer-events: none;

		[aria-expanded='true'] & {
			transform: scale(1, -1);
		}

		@include breakpoint(xl) {
			width: t2c(24, xl);
			margin-inline-start: t2c(16, xl);
		}
	}

	&__body {
		overflow: hidden;
		margin-block-end: rem(24);

		@include breakpoint(xl) {
			margin-block-end: t2c(24, xl);
		}
	}
}
