.accordion {
	&__item {
		padding-inline: rem(24);
		border-bottom: 1px solid $gray_french--l_10;
		color: $gray_french--d_20;

		&:focus-within {
			box-shadow: inset rem(4) 0 0 0 $blue_cornflower--l_10;
		}

		&[data-accordion-open='true'] {
			color: $gray_french--d_40;
		}
	}

	&__button {
		all: inherit;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-block: rem(24);
		cursor: pointer;

		&:focus {
			box-shadow: none !important;
		}
	}

	&__icon {
		flex-shrink: 0;
		align-self: flex-start;
		width: rem(24);
		margin-inline-start: rem(16);
		pointer-events: none;

		[aria-expanded='true'] & {
			transform: scale(1, -1);
		}
	}

	&__body {
		overflow: hidden;
		margin-block-end: rem(24);

		[data-accordion-open='true'] & {
			animation: slide-down 2s ease-in-out;
		}
	}
}

@keyframes slide-down {
	0% {
		max-height: 0;
	}

	100% {
		max-height: rem(3000);
	}
}
